.hero-premium {
    &.hero-videos {
        // &::after,
        // &::before {
        //     z-index: 1;
        //     // position: absolute;
        // }
        &::after {
            content: none;
        }
        &::before {
            content: "";
            background: linear-gradient(to bottom, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 35%;
            z-index: 1;
        }
        .c-hero-videos-carousel {
            z-index: 2;
            position: relative;
            .o-comp__content {
                // margin-top: 160px;
                margin-top: 0;
                padding-top: 135px;
                .o-comp__title {
                    max-width: 768px;
                    margin-left: auto;
                    margin-right: auto;
                    h2 {
                        line-height: 1.4;
                        margin-bottom: 17px;
                    }
                    p {
                        text-align: center !important;
                    }
                }
                .hero-video-carousel {
                    margin-top: 40px;
                    margin-bottom: 40px;
                    .flickity-viewport {
                        height: 300px !important;
                        transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
                        animation: videoFadeIn 1s ease-in-out 1s;
                        .flickity-slider {
                            align-items: center;
                            vertical-align: middle;
                        }
                        .carousel-cell {
                            display: flex;
                            align-items: center;
                            justify-items: center;
                            width: 100%;
                            min-width: 360px;
                            border-radius: 0px;
                            transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
                            animation: videoFadeIn 1s ease-in-out 1s;
                            video {
                                z-index: 1;
                                display: block;
                                width: 100%;
                                height: 100%;
                                border-radius: 0px;
                                transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
                                animation: videoFadeIn 1s ease-in-out 1s;
                            }
                            .video-poster {
                                position: absolute;
                                left: 0;
                                right: 0;
                                top: 0;
                                bottom: 0;
                                z-index: 2;
                                width: 100%;
                                height: 100%;
                                text-align: center;
                                display: flex;
                                align-items: center;
                                align-content: center;
                                justify-items: center;
                                justify-content: center;
                                object-fit: contain;
                                background-size: cover;
                                // border-radius: 10px;
                                border-radius: 0px;
                                transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
                                animation: videoFadeIn 1s ease-in-out 1s;
                                .play-btn {
                                    border-radius: 45px;
                                    width: 75px;
                                    height: 75px;
                                    box-shadow: 0 0 15px rgba(39, 50, 57, .3);
                                    transform: scale(1);
                                    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
                                    &:hover {
                                        transform: scale(0.95);
                                    }
                                }
                            }
                        }
                    }
                }
                .disclaimer {
                    font-size: 0.9em;
                    color: rgba(39, 50, 57, .5);
                    letter-spacing: .1px;
                    font-weight: 400;
                    line-height: 1.47;
                    border-top: 1px solid #ddd;
                    padding: 12px;
                    margin-top: 3em;
                }
            }
        }
        .flickity-button {
            background: none;
            border: 1px solid $white;
            color: $white;
        }
        .flickity-prev-next-button.next {
            right: -20px;
            border: 0;
            z-index: 3;
            color: rgba($brand-font, 1);
            transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
            &:hover {
                border: 1px solid rgba($brand-font, 0.3);
                background: none;
                width: 60px;
                height: 60px;
            }
        }
        .flickity-prev-next-button.previous {
            left: -20px;
            border: 0;
            z-index: 3;
            color: rgba($brand-font, 1);
            transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
            &:hover {
                border: 1px solid rgba($brand-font, 0.3);
                background: none;
                width: 60px;
                height: 60px;
            }
        }
        /* position dots up a bit */
        .flickity-page-dots {
            margin-top: 24px;
            .dot {
                height: 3px;
                width: 50px;
                margin: 0 5px;
                border-radius: 0;
                background: rgba($brand-font, 1);
            }
        }
        /* hide disabled button */
        .flickity-button:disabled {
            display: none;
        }
        .hero-premium-scroll {
            bottom: 85px;
            z-index: 2;
        }
    }
    // if Light gray background  modifier is used
    &.-lightgray-background {
        background-color: #eee;
        .flickity-prev-next-button.next,
        .flickity-prev-next-button.previous {
            color: rgba($brand-font, 1);
        }
    }
    // if Dark gray background  modifier is used
    &.-darkgray-background {
        background-color: rgba(39, 50, 57, 1);
        .o-comp__title h2 {
            color: #FFFFFF !important;
        }
        .o-comp__title_desc {
            color: rgba(255, 255, 255, .6) !important;
        }
        .flickity-page-dots {
            .dot {
                background: rgba($white, 1);
            }
        }
        .flickity-prev-next-button.next,
        .flickity-prev-next-button.previous {
            color: rgba($white, 0.7);
            &:hover {
                border: 1px solid rgba($white, 1);
            }
        }
        .disclaimer {
            color: rgba(255, 255, 255, .6) !important;
            border-top: 1px solid rgba(255, 255, 255, .1) !important;
        }
    }
}

@keyframes videoFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width:375px) {
    .hero-premium {
        &.hero-videos {
            .c-hero-videos-carousel {
                .o-comp__content {
                    .hero-video-carousel {
                        .flickity-viewport {
                            height: 220px !important;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:425px) {
    .hero-premium {
        &.hero-videos {
            .c-hero-videos-carousel {
                .o-comp__content {
                    .hero-video-carousel {
                        .flickity-viewport {
                            height: 240px !important;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:768px) {
    .hero-premium {
        &.hero-videos {
            .c-hero-videos-carousel {
                .o-comp__content {
                    // margin-top: 180px;
                    padding-top: 135px;
                    margin-top: 0;
                    .hero-video-carousel {
                        margin-top: 48px;
                        margin-bottom: 0;
                        .flickity-viewport {
                            height: 320px !important;
                            &::before {
                                content: " ";
                                position: absolute;
                                z-index: 2;
                                left: -1px;
                                top: 0;
                                width: 13%;
                                height: 100%;
                                display: block;
                            }
                            &::after {
                                content: " ";
                                position: absolute;
                                z-index: 2;
                                right: -1px;
                                top: 0;
                                width: 13%;
                                height: 100%;
                                display: block;
                            }
                            .carousel-cell {
                                display: flex;
                                width: 68%;
                                transform: scale(0.9);
                                opacity: 0.5;
                                // border-radius: 10px;
                                border-radius: 0px;
                                transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
                                &.is-selected {
                                    opacity: 1;
                                    transform: scale(1);
                                    // border-radius: 10px;
                                    border-radius: 0px;
                                }
                                video {
                                    border-radius: 10px;
                                }
                                .video-poster {
                                    .play-btn {
                                        border-radius: 75px;
                                        width: 85px;
                                        height: 85px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.-lightgray-background {
                .flickity-viewport {
                    &::before {
                        background: linear-gradient(to right, #eee, rgba(221, 221, 221, 0)) !important;
                    }
                    &::after {
                        background: linear-gradient(to left, #eee, rgba(221, 221, 221, 0)) !important;
                    }
                }
            }
            &.-darkgray-background {
                .flickity-viewport {
                    &::before {
                        background: linear-gradient(to right, rgba(39, 50, 57, 1), rgba(39, 50, 57, 0)) !important;
                    }
                    &::after {
                        background: linear-gradient(to left, rgba(39, 50, 57, 1), rgba(39, 50, 57, 0)) !important;
                    }
                }
            }
            .flickity-prev-next-button.next {
                right: -20px;
            }
            .flickity-prev-next-button.previous {
                left: -20px;
            }
        }
        .hero-premium-scroll {
            bottom: 115px;
            z-index: 2;
        }
    }
}

@media (min-width:922px) {
    .hero-premium {
        &.hero-videos {
            .c-hero-videos-carousel {
                .o-comp__content {
                    .hero-video-carousel {
                        .flickity-viewport {
                            height: 420px !important;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1232px) {
    .hero-premium {
        &.hero-videos {
            .c-hero-videos-carousel {
                .o-comp__content {
                    .hero-video-carousel {
                        .flickity-viewport {
                            height: 480px !important;
                        }
                    }
                }
            }
        }
    }
}